*{margin:0;padding: 0;}
body{
    font-family: 'Roboto', sans-serif;
}

section{
    height: 800px;
    padding-bottom:100px;
}
.nav{
    height: 2px; 

}
.nav ul{
    text-align: right;
}
.nav li{
    display: inline-block;
    padding-right: 3%;
    height: 10px;
    margin-top: 15px;

}
.redis{
    color: #F46060;
}
h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    margin: 0;

}
p{
    font-Size:16px;
    color: dimgray;
    margin-top: 5%;
    margin-bottom: 5%;
}
.top{
    height: 500px;
    
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(90deg, #F46060,#e05f5f);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.about-section{
    height: 500px;

}
.extra{
    margin-top: 8%;
}
.work{
   height: 500px;
   background-color: aquamarine;

   
}
.box{
    width: 25%;
    margin:1% 2.1% ;
    padding: 1% 2% ;
    float: left;
    box-shadow: 10px 10px 40px rgb(179, 176, 176);
    border-radius: 10px;
    height: 65%;
    background-color: white;
  
}
.box img{
    width: 100%;
  
}
.work h1{
    text-align: center;
    padding-top:5%;
    padding-bottom: 5%;
    
    
}
.inquiry{
    background-image: url("img/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 800px 200px;
    background-position: center;
    height: 400px;
    background-color: skyblue;
   

}

#inq1{
    width: 30%;
    float: left;
   display: block;
    margin-left: 26%;
    margin-top: 16%;
 
}
#inq1 h1{
    color:white;

}
#inq2{
   width:30%;
   display: block;
   float:right;
   margin-right:2%;
  margin-top: 18%;
   
}
.footer{
    height: 50px;
    text-align: center;
    background-color: thistle;
    padding-top:3%;
}
.footer img{
    width: 25px;
    padding:2px;
}
.feedback{
    height: 400px;
    text-align: center;
    background-color: wheat;
    padding-top: 5%;
}
.box2{
    width: 16%;
    margin:1% 2% ;
    padding: 1% 2% ;
    float: left;
    box-shadow: 10px 10px 40px rgb(71, 66, 66);
    border-radius: 10px;
    height: 60%;
    background-color: white;
    border-left: 7px solid ;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
    
}
.box2 h3{
    padding-top: 2%;
}

